---
import Card from "../components/Card.astro";
---

<div class="flex justify-between my-40">
	<Card
		img="/images/img-2.webp"
		href="/"
		title="Nederlands oefenen in Brussel"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl sed tempor ultrices, nunc libero sodales augue, vitae aliquam nunc ipsum ut nunc. "
	/>
	<Card
		img="/images/img-3.webp"
		href="/"
		title="Nederlands leren en oefenen via zelfstudie"
		description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl sed tempor ultrices, nunc libero sodales augue, vitae aliquam nunc ipsum ut nunc. "
	/>
</div>
