---
import H1 from "../components/H1.astro";
---

<section class="h-[35rem] bg-tertiary flex items-center shadow-sm">
	<div class="wrapper flex flex-col items-center gap-3 mt-32 max-w-3xl">
		<div class="opacity-40">
			<ul class="flex items-center gap-3">
				<li><a href="">Home</a></li>
				<svg class="-rotate-90" width="11" height="6" viewBox="0 0 12.857 7.803"
					><path
						d="M6.327,16.279.6,10.557a.707.707,0,0,1,0-1l.667-.667a.707.707,0,0,1,1,0l4.556,4.535,4.556-4.535a.707.707,0,0,1,1,0l.667.667a.707.707,0,0,1,0,1L7.326,16.279A.707.707,0,0,1,6.327,16.279Z"
						transform="translate(-0.398 -8.683)"
						fill="#000000"
						opacity="0.5"></path></svg
				>
				<li><a href="">Afspraak maken</a></li>
			</ul>
		</div>
		<H1 title="Afspraak maken" />
		<p class="text-2xl text-center">
			Kom naar het Huis van het Nederlands voor persoonlijk advies over Nederlandse lessen,
			zelfstudie of activiteiten om Nederlands te leren en te oefenen. Zo leer u snel Nederlands
			spreken en schrijven.
		</p>
	</div>
</section>
